.infoBlock{
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
    h3{
        margin-bottom: 0;
    }
    span{
        margin-top: 0;
        vertical-align: top;
        font-size: 11px;
        color: #aaa;
    }
}