.testListItem {
    display: flex;
    flex-direction: column;
    border: 1px solid #00000035;
    padding:   10px;
    border-radius: 4px;
    p{
      margin-bottom: 0;
    }
    &_header, &_bottom{
      width: 100%;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_bottom{
      height: 15px;
    }
    &_title{
      font-weight: bold;
      font-size: 16px;
    }
    &_buttons{
      display: flex;
      gap: 12px; 
    }

    &_progress, &_author{
      font-size: 12px;
      color:#777
    }

    &_announce{
      text-align: center;
    }

    /* types */
    &.completed{
      background:  #A5D6A7
    }
}

 