.answerWrap {
  .answer_viewBlock {
    margin-bottom: 20px;
    &_title {
    }
    &_list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_item {
        display: flex;
        justify-content: space-between;

        &_description {
          font-size: 20px;
          margin-bottom: 0;
        }

        &_iconBlock {
          display: flex;
          gap: 20px;
          font-size: 30px;
          align-items: center;
        }
      }
    }
  }

  .answer_addAnswerBlock {
    display: flex;
    &_editMode {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      &_inputBlock {
        display: flex;
        flex-direction: column;
        &_input {
        }
        &_error {
          color: red;
          margin-bottom: 0;
        }
      }
      &_buttonBlock {
        display: flex;
        gap: 20px;
        font-size: 30px;
      }
    }
    &_addButton {
    }
  }
}
