.NavWrapper {
  display: flex;
  justify-content: space-around;
  background: #f0f0f0; 
  align-items: center;
}
   

.navArea{
  width: calc(50% - 1px);
  height: 100%;
  display:flex; 
  align-items:center;
  justify-content:center; 
  font-size: 25px;
}
.navDivider{
  width: 2px;
  height: 75%;
  background: #ccc;
  border-radius: 2px;
}