.answer_addAnswerBlock {
  display: flex;
  &_editMode {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;

    &_inputBlock {
      display: flex;
      flex-direction: column;
      &_input {
      }
      &_error {
        color: red;
        margin-bottom: 0;
      }
    }
    &_buttonBlock {
      display: flex;
      gap: 20px;
      font-size: 30px;
    }
  }
  &_addButton {
  }
}