@import '~antd/dist/antd.css';
@font-face {
  font-family: 'Pragmatica';
  src: url('https://fojin.tech/fonts/Pragmatica_Book.woff2') format('woff2');
  src: url('https://fojin.tech/fonts/Pragmatica_Book.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('https://fojin.tech/fonts/Pragmatica-Bold.woff2') format('woff2');
  src: url('https://fojin.tech/fonts/Pragmatica-Bold.woff') format('woff');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pragmatica', sans-serif;
}