@font-face {
  font-family: 'Pragmatica';
  src: url('https://fojin.tech/fonts/Pragmatica_Book.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pragmatica', sans-serif;
}

