.NT_IconBlock {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 20px;
}

.NTWrapper {
  padding: 10px;

  .NTName {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    &_inputBlock {
    }
  }

  .NTQuestionBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &_TestName {
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
    .NTQuestionBlock_Items {
      &_Item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .NTButton_add {
        margin-bottom: 10px;
      }
    }
  }

  .NTSaveButton {
    width: 150px;
  }
}

.NTModalWrapper {
  .NTModal_Question {
    &_Block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 0 12px #00000064;
      margin: 10px 0 10px 0;

      &_TestName {
      }
    }

    &_EditBlock {
      .inputButtonWrap {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
      }
    }
    &_AddAnswer {
      display: flex;
    }

    .NTAnswerList {
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0 0 12px #00000064;
      margin: 10px 0 10px 0;

      &_Item {
        display: flex;
        justify-content: space-between;

        &_IconBlock {
          display: flex;
          gap: 15px;
          align-items: center;
        }
      }
    }
  }
}
