.NTWrapper {
  padding: 10px;

  .NTWrapper_title {
    font-size: 20px;
    text-align: center;
  }

  .NT_questionWrapper {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    height: 100%;

    &_testNameBlock{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      
      &_testName {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 0;
      }

      &_editButton{
        font-size: 30px;
      }
    }

    
  }
}
